.container-llab {
    width: 980px;
    margin: 0 auto;
}

.navbar-brand {
    opacity: 0.5;
}

.navbar-brand:hover {
    opacity: 1.0;
}

.border-left-right {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

.border-left {
    border-left: 1px solid #DDD;
}

.tooltip-inner {
    min-width: 100px !important;
    font-size: 80%;
}

.gravatar {
    border-radius: 4px;
}

.nav .alert-info span.glyphicon {
    color: #31708f !important;
}

.newsfeed-time {
    position: relative;
    top: -10px;
}
