.navbar-brand {
    opacity: 0.5;
}

.navbar-brand:hover {
    opacity: 1.0;
}

.border-left-right {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

.border-left {
    border-left: 1px solid #DDD;
}

.tooltip-inner {
    min-width: 100px !important;
    font-size: 80%;
}

.gravatar {
    border-radius: 4px;
}

.nav .alert-info span.glyphicon {
    color: #31708f !important;
}

.newsfeed-time {
    position: relative;
    top: -10px;
}

.no-float {
    float: none !important;
}

.soft-border {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.gray-light {
    opacity: 0.8;
}

.cursor {
    cursor: pointer;
}

.pad-right-5 {
  padding-right: 5px;
}

.pad-right-10 {
  padding-right: 10px;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

code {
    white-space: pre;
}
