{% extends "base.html" %}

{% load bootstrap3 %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="row">
  {% include "project/header.html" %}
  <hr>
  <div class="col-md-8 center-block no-float">
    <h2>Create a new repository on the command line</h2>
    <pre>touch README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin {{ project.get_private_clone_path }}
git push -u origin master</pre>

    <h2>Push an existing repository from the command line</h2>
    <pre>git remote add origin {{ project.get_private_clone_path }}
git push -u origin master</pre>
  </div>
</div>
{% endblock %}
