{% extends "project/base.html" %}

{% load bootstrap3 %}
{% load humanize %}
{% load gravatar %}
{% load staticfiles %}
{% load project_extras %}

{% block "project_content" %}
<div class="row">
  <div class="col-md-10 center-block no-float">
    <h3>
      <small class="gray-light pad-right-10">
      {% if project.private %}
      PRIVATE
      {% else %}
      PUBLIC
      {% endif %}
      <span class="glyphicon glyphicon-book"></span>
      </small>
      <a href="#">{{ project.owner.username }}</a> /
      <strong><a href="#">{{ project.name }}</a></strong>
    </h3>

    <hr>

    <h4 class="gray-light">{{ project.description }} - <a href="#">Edit</a></h4>

    <br>

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tab-commits">
          <span class="glyphicon glyphicon-list"></span>
          <strong>{{ commit_count }}</strong> Commit{{ commit_count|pluralize }}
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab-branches">
          <span class="glyphicon glyphicon-tree-conifer"></span>
          <strong>{{ branch_count }}</strong> Branch{{ branch_count|pluralize:"es" }}
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab-releases">
          <span class="glyphicon glyphicon-calendar"></span>
          Releases
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab-contributors">
          <span class="glyphicon glyphicon-globe"></span>
          Contributors
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab-commits">
        <h4>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-tree-conifer"></span> branch: {{ commit.branch.short_name }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {% for branch in project.branches.all %}
              <li><a href="#">{{ branch.short_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <a href="#">{{ current_path }}</a> /
        </h4>
        <div class="panel panel-info">
          <div class="panel-heading"><a href="#">{{ commit.message }}</a></div>
          <div class="panel-body">
            {% gravatar commit.author.gravatar 16 g %}
            <a href="#">{{ commit.author.username }}</a> <span class="gray-light">authored {{ commit.created|naturaltime }}</span>
            <span class="pull-right gray-light">last commit: <strong><a href="#">{{ commit.short_sha1sum }}</a></strong></span>
          </div>
          <table class="table table-hover table-condensed table-bordered">
            <tbody>
              {% for folder_or_filename, object in commit.tree.iteritems %}
              <tr>
                <td>
                  {% if object.type == "file" %}
                  <span class="glyphicon glyphicon-file"></span>
                  <a href="#">{{ folder_or_filename }}</a>
                  {% elif object.type == "folder" %}
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <a href="#">{{ folder_or_filename }}/</a>
                  {% else %}
                  <span class="glyphicon glyphicon-file"></span>
                  <a href="#">{{ folder_or_filename }}</a>
                  {% endif %}
                </td>
                <td><a href="#">{{ object.commit.message }}</a></td>
                <td title="{{ object.commit.commit_time }}">{{ object.commit.commit_time|datetime|naturaltime }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane" id="tab-pull-branches">
        <h3>Branches</h3>
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="The developers have not implemented this feature."></span>
          Check back soon. This feature will allow you to code review and manage pull requests.
        </div>
      </div>

      <div class="tab-pane" id="tab-releases">
        <h3>Releases</h3>
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="The developers have not implemented this feature."></span>
          Check back soon. This feature will allow you to track any issue updates.
        </div>
      </div>

      <div class="tab-pane" id="tab-contributors">
        <h3>Contributors</h3>
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="The developers have not implemented this feature."></span>
          Check back soon. This feature will allow you to manage your starred projects.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
