{% extends "base.html" %}

{% load bootstrap3 %}
{% load humanize %}
{% load gravatar %}
{% load staticfiles %}
{% load project_extras %}

{% block javascript %}
<script src="{% static "project/js/3rd-party/humanize.js" %}"></script>
<script src="{% static "project/js/view.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 center-block no-float">

    {% include "project/header.html" %}
    {% include "project/nav.html" with source_active=True %}

    <div class="tab-content">
      <div class="tab-pane active" id="tab-source">
        <h4>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-tree-conifer"></span> branch: {{ branch.short_name }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {% for branch in project.branches.all %}
              <li><a href="#">{{ branch.short_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <span id="source-tree-breadcrumb">
              <a href="#">{{ current_path }}</a> /
          </span>
        </h4>
        <div class="panel panel-primary">
          <div class='panel-heading clearfix'>
            <div class='panel-title pull-left'>{{ commit.message_header }}</div>
          </div>
          <div class="panel-body">
            {% for line in commit.message_body %}
            {% if forloop.first %}<p class="gray-light">{% endif %}
            {{ line }}<br>
            {% if forloop.last %}</p>{% endif %}
            {% endfor %}
            {% gravatar commit.author.gravatar 16 g %}
            <a href="#">{{ commit.author.username }}</a> <span class="gray-light">authored {{ commit.commit_time|naturaltime }}
              on <a href="{{ commit.get_absolute_url }}">{{ commit.short_sha1sum }}</a></span>
          </div>
          <table class="table table-hover table-condensed table-bordered table-striped">
            <tbody id="source-tree">
            </tbody>
          </table>
        </div>
        <div id="readme" class="panel panel-primary">
          <div id="readme-body" class="panel-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var project = "{{ project.name }}";
  var owner = "{{ project.owner.username }}";
  var branch = "{{ commit.branch.short_name }}";
  var commit = "{{ commit.sha1sum }}";
  var path = "{{ current_path }}";
  llab.build_tree(project, owner, branch, commit, path);
</script>

{% endblock %}
