{% load bootstrap3 %}
{% load staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    {% bootstrap_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="all" href="{% static "project/css/normalize.css" %}">
    <link rel="stylesheet" media="all" href="{% static "project/css/base.css" %}">
    {% block "css" %}
    {% endblock %}

    <script src="{% url "urls" %}"></script>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    {% bootstrap_javascript %}
    {% block javascript %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">

      <div class="container-fluid">
        <div class="container-llab">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              llab
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              {% if user.is_authenticated %}
              <!-- Authenticated Users -->
              {% include "navigation-authenticated.html" %}
              {% else %}
              <!-- Anonymous Users -->
              {% include "navigation-anonymous.html" %}
            {% endif %}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-llab -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container container-llab">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <script>
    $('[data-toggle=tooltip]').tooltip();
  </script>
  {% bootstrap_messages %}
</html>
