{% extends "project/base.html" %}
{% load bootstrap3 %}
{% load humanize %}
{% load gravatar %}

{% block "project_content" %}

<div class="row">

  <div class="col-md-4">
    {% include "settings/navigation.html" %}
  </div>

  <div class="col-md-8 center-block soft-border">
    <div class="row">
      <div class="col-md-12">
        <br>
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            {% if user.public_keys.exists %}
            <li class="active"><a href="#registered-keys" data-toggle="tab">Registered Keys</a></li>
            <li><a href="#new-key" data-toggle="tab">New Key</a></li>
            {% else %}
            <li class="active"><a href="#new-key" data-toggle="tab">New Key</a></li>
            {% endif %}
          </ul>

          <div class="tab-content">
            {% if user.public_keys.exists %}
            <div class="tab-pane active" id="registered-keys">
              <div class="row">
                <div class="col-md-12">
                  <h3>Your Registered Keys</h3>
                  <p>These are the keys that you have created. The text in the parenthesis
                    is the sha1sum of your public key. You may delete existing public
                    keys, but you can not modify them once created.</p>
                  <ul class="list-group">
                    {% for public_key in user.public_keys.all %}
                    <li class="list-group-item">
                      <div class="pull-right">
                        <span title="{{ public_key.created }}" class="label label-info">created {{ public_key.created|naturaltime }}</span>
                        <span class="cursor public-key-delete label label-danger">delete</span>
                      </div>
                      <strong>{{ public_key.name }}</strong>
                      <small class="gray-light" title="SHA1 of your public key">({{ public_key.sha1sum }})</small>
                      <div class="alert alert-danger alert-dismissable public-key-alert hidden">
                        <p>
                          <strong>Hold on!</strong> Are you sure that you want to do delete <strong>{{ public_key.name }}</strong>?
                          You will no longer be able to connect to llab with this key.
                        </p>
                        <p>
                          <a href="{% url 'account:settings:ssh_delete' public_key_pk=public_key.pk %}">
                            <button type="button" data-pk="{{ public_key.pk }}" class="btn btn-danger">
                              Yes, delete it.
                            </button>
                          </a>
                        </p>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            {% endif %}

            {% if user.public_keys.exists %}
            <div class="tab-pane" id="new-key">
            {% else %}
            <div class="tab-pane active" id="new-key">
            {% endif %}

              <div class="row">
                <div class="col-md-12">
                  <h3>Adding a New Key</h3>
                  <p>How about a quick guide?
                    <code>
                      $ ssh-keygen &amp;&amp; cat $HOME/.ssh/id_rsa.pub
                    </code>
                  </p>
                  <form method="post" class="form" action="{% url 'account:settings:ssh' %}">
                    {% csrf_token %}

                    {% bootstrap_form form %} {% buttons %}

                    <button type="submit" class="btn btn-primary">
                      {% bootstrap_icon "log-in" %} Add Key
                    </button>
                    {% endbuttons %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('#nav-ssh').addClass('active');

$('#id_public-key-name').keydown(function () {
  var value = this.value;
  this.value = value.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
});

$('.public-key-delete').click(function () {
  $(this).hide().parent().siblings('.public-key-alert').removeClass('hidden');
});
</script>


{% endblock %}
