{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-md-4 center-block no-float">
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      First, let's give your organization a name.
    </div>
    <form method="post" class="form" action="{% url 'organization:new' %}">
      {% csrf_token %}

      {% bootstrap_form form %} {% buttons %}

      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "arrow-right" %} Next
      </button>
      {% endbuttons %}
    </form>
  </div>
</div>

<script>
$('#id_organization-name').keydown(function () {
  var value = this.value;
  this.value = value.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
});
</script>
{% endblock %}
