{% extends "base.html" %}

{% load bootstrap3 %}
{% load humanize %}
{% load gravatar %}
{% load staticfiles %}
{% load project_extras %}

{% block javascript %}
<script src="{% static "project/js/3rd-party/humanize.js" %}"></script>
<script src="{% static "project/js/view.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 center-block no-float">
    <h3>
      <small class="gray-light pad-right-10">
      {% if project.private %}
      PRIVATE
      {% else %}
      PUBLIC
      {% endif %}
      <span class="glyphicon glyphicon-book"></span>
      </small>
      <a href="#">{{ project.owner.username }}</a> /
      <strong><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></strong>
    </h3>

    <hr>

    <h4 class="gray-light">{{ project.description }} - <a href="#">Edit</a></h4>

    <br>

    {% include "project/nav.html" with commit_active=True %}

    <div class="tab-content">
      <div class="tab-pane active" id="tab-source">
        <h4>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-tree-conifer"></span> branch: {{ commit.branch.short_name }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {% for branch in project.branches.all %}
              <li><a href="#">{{ branch.short_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <span id="source-tree-breadcrumb">
              <a href="#">{{ current_path }}</a> /
          </span>
        </h4>
        {% for datetime, commits in timelines %}
        <div class="panel panel-default">
          <div class='panel-heading'>
            <div class='panel-title'>{{ datetime }}</div>
          </div>
          <div class="panel-body">
            {% for commit in commits %}
            <div class="media condensed">
              <a class="pull-left" href="#">
                {% gravatar commit.author_email 48 g %}
              </a>
              <div class="btn-group pull-right">
                <a href="{% url "project:commit:view" project=project.name owner=project.owner.username commit=commit.sha %}" class="btn btn-default btn-sm">
                  View</a>
                <a href="{% url "project:tree" project=project.name owner=project.owner.username commit=commit.sha path="" %}" class="btn btn-default btn-sm">
                  Browse</a>
              </div>
              <div class="media-body">
                <strong>{{ commit.message }}</strong>
                <p class="gray-light">{{ commit.author }} authored {{ commit.commit_time|datetime|naturaltime }}.</p>
              </div>
            </div>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <ul class="pager">
          {% if has_prev %}
          <li class="previous"><a href="?page={{ prev_page }}">&larr; Previous</a></li>
          {% else %}
          <li class="disabled previous"><a href="#">&larr; Previous</a></li>
          {% endif %}

          {% if has_next %}
          <li class="next"><a href="?page={{ next_page }}">Next &rarr;</a></li>
          {% else %}
          <li class="disabled next"><a href="#">Next &rarr;</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
